<div class="control-group">
    <label class="control-label">岗位名称*</label>
    <div class="controls">
        <f:form.textfield property="title" />
    </div>
</div>

<div class="control-group">
    <label class="control-label">岗位级别*</label>
    <div class="controls">
        <label class="likespan">管理岗 <f:form.radio property="level" value="0"/></label>
        <label class="likespan">员工岗 <f:form.radio property="level" value="1"/></label>
    </div>
</div>

<div class="control-group">
    <label class="control-label">岗位类型*</label>
    <div class="controls">
        <label class="likespan">A 职能类 <f:form.radio property="type" value="0"/></label>
        <label class="likespan">B 支持类 <f:form.radio property="type" value="1"/></label>
        <label class="likespan">C 业务类 <f:form.radio property="type" value="2"/></label>
    </div>
</div>

<f:if condition="{department}">
    <f:then>
        <f:form.hidden name="department" value="{department.uid}"/>
    </f:then>
    <f:else>
        <div class="control-group">
            <label class="control-label">归属部门*</label>
            <div class="controls">
                <f:form.select name="department" options="{departments}" optionValueField="uid" optionLabelField="title" />
            </div>
        </div>
    </f:else>
</f:if>


<div class="control-group">
    <label class="control-label">上级主管*</label>
    <div class="controls">
        <f:form.select property="competent" options="{competents}" optionValueField="uid" optionLabelField="title" />
    </div>
</div>


<div class="control-group">
    <label class="control-label">岗位描述*</label>
    <div class="controls">
        <f:form.textarea property="description" cols="40" rows="3" />
    </div>
</div>

<div class="control-group">
    <label class="control-label">岗位目标*</label>
    <div class="controls">
        <f:form.textarea property="goal" cols="40" rows="3" />
    </div>
</div>


<div class="control-group">
    <label class="control-label">任职资格*</label>
    <div class="controls">
        <f:form.textarea property="qualifications" cols="40" rows="3" />
    </div>
</div>