<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<ul>
			<f:debug>{validationResults.flattenedErrors}</f:debug>
			<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
				<li>{propertyPath}
					<ul>
						<f:for each="{errors}" as="error"><li>{error}</li></f:for>
					</ul>
				</li>
			</f:for>
		</ul>
</f:if>
</f:form.validationResults>