<f:if condition="{volunteerUsers}">
<f:then>
<div class="control-group">
    <label class="control-label">志愿者</label>
    <div class="controls">
        <f:form.select class="select2 w200" name="volunteer" options="{volunteerUsers}" optionValueField="uid" optionLabelField="name" />
    </div>
</div>
</f:then>
<f:else>
 <f:form.hidden name="volunteer" value="{volunteerUser.uid}"/>    
</f:else>
</f:if>

<f:if condition="{jobs}">
<div class="control-group">
    <label class="control-label">工作岗位*</label>
    <div class="controls">
        <f:form.select class="select2 w400" property="job" options="{jobs}" optionValueField="uid" optionLabelField="title" />
    </div>
</div>
</f:if>

<div class="control-group">
    <label class="control-label">工作评价*</label>
    <div class="controls">
        <label class="likespan">优秀<f:form.radio property="evluation" value="0"/></label>
        <label class="likespan">良好<f:form.radio property="evluation" value="1"/></label>
        <label class="likespan">合格<f:form.radio property="evluation" value="2"/></label>
    </div>
</div>

<div class="control-group">
    <label class="control-label">工作内容*</label>
    <div class="controls">
        <f:form.textarea property="description" cols="40" rows="3" />
    </div>
</div>

<div class="control-group">
    <label class="control-label">起止时间*</label>
    <div class="controls">
        <div class="likespan">
            <f:form.textfield property="fromtime" value="{jobEvaluation.fromtime->f:format.date(format: 'Y-m-d H:i')}"  class="w150 Wdate" onclick="WdatePicker();"/>
            -- 
            <f:form.textfield property="totime" value="{jobEvaluation.totime->f:format.date(format: 'Y-m-d H:i')}" class="w150 Wdate" onclick="WdatePicker();"/>
        </div>
    </div>
</div>

<div class="control-group">
    <label class="control-label">工作时长</label>
    <div class="controls">
        <div class="likespan">
            <f:form.textfield property="length" class="w150" placeholder="不填则使用起止时间"/> 小时
        </div>
    </div>
</div>