<div class="invoice-content">
	<div class="invoice-head">
		<div class="invoice-meta">
			志愿者{volunteerUser.name}工作记录
			<span class="invoice-date">
			自{volunteerUser.txMfwcvolunteerAuthenticationTime->f:format.date(format: 'Y年m月d日')}起到今天，总共服务了{volunteerUser.txMfwcvolunteerEvaluationLength}小时。 
            结论：<f:translate key="tx_mfwcvolunteer_domain_model_jobevaluation.evluation.I.{volunteerUser.txMfwcvolunteerEvaluationStatus}" />
			</span>
		</div>
	</div>
	<div>
		<table class="table table-striped">
			<f:for each="{volunteerUser.txMfwcvolunteerEvaluation}" as="evaluation">
			<tr>
				<td class="w150">
					{evaluation.fromtime->f:format.date(format: 'Y年m月d日')}
				</td>
				<td class="w300">
					{evaluation.jobkeep} 
					  {evaluation.length}小时，
					<f:translate key="tx_mfwcvolunteer_domain_model_jobevaluation.evluation.I.{evaluation.evluation}" />，
					记录人 {evaluation.recorder.name}
				</td>
				<td>
				{evaluation.description}
				</td>
				<td>
					<f:if condition="{evaluation.recorder.uid} == {userId}">
						<f:link.action action="edit" arguments="{jobEvaluation : evaluation, volunteerUser : volunteerUser}" class="btn btn-mini">编辑</f:link.action>
						<f:link.action action="delete" arguments="{jobEvaluation : evaluation, volunteerUser : volunteerUser}" class="btn btn-mini">删除</f:link.action>
					</f:if>
				</td>
			</tr>
			</f:for>
		</table>
	</div>
</div>