<div class="control-group">
    <div class="control-label">编号</div>
    <div class="controls">
        {volunteerUser.txMfwcvolunteerId}
    </div>
</div>

<div class="control-group">
    <div class="control-label">姓名</div>
    <div class="controls">
        {volunteerUser.name}
    </div>
</div>

<div class="control-group">
    <div class="control-label">性别</div>
    <div class="controls">
        <f:if condition="{volunteerUser.gender} == 1">
            <f:then>女</f:then> <f:else>男</f:else>
        </f:if>
    </div>
</div>

<div class="control-group">
    <div class="control-label">出生日期</div>
    <div class="controls">
        {volunteerUser.birthday->f:format.date(format: 'Y年m月d日')}
    </div>
</div>

<div class="control-group">
    <div class="control-label">邮箱</div>
    <div class="controls">
        {volunteerUser.email}
    </div>
</div>

<div class="control-group">
    <div class="control-label">手机号码</div>
    <div class="controls">
        {volunteerUser.telephone}
    </div>
</div>

<div class="control-group">
    <div class="control-label">QQ</div>
    <div class="controls">
        {volunteerUser.txMfwcshoolinfosQq}
    </div>
</div>


<div class="control-group">
    <div class="control-label">新浪微博</div>
    <div class="controls">
        {volunteerUser.txMfwcshoolinfosWeibo}
    </div>
</div>

<div class="control-group">
    <div class="control-label">个人简介</div>
    <div class="controls">
        {volunteerUser.comments}
    </div>
</div>

<div class="control-group">
    <div class="control-label">申请职位</div>
    <div class="controls">
		{volunteerUser.txMfwcvolunteerJobskeep}
    </div>
</div>


<div class="control-group">
    <div class="control-label">所在地</div>
    <div class="controls">
        {volunteerUser.zone.title} {volunteerUser.city.title}
    </div>
</div>

<div class="control-group">
    <div class="control-label">审批状态</div>
    <div class="controls">
		<f:translate key="tx_mfwcvolunteer_domain_model_volunteeruser.tx_mfwcvolunteer_status.I.{volunteerUser.txMfwcvolunteerStatus}" />
    </div>
</div>

<div class="control-group">
    <div class="control-label">是否有志愿者经验</div>
    <div class="controls">
        <f:if condition="{volunteerUser.txMfwcvolunteerExperience} == 1">
            <f:then>有</f:then> <f:else>无</f:else>
        </f:if>
    </div>
</div>

<div class="control-group">
    <div class="control-label">技能专长</div>
    <div class="controls">
        {volunteerUser.txMfwcvolunteerSkills}
    </div>
</div>

<div class="control-group">
    <div class="control-label">工作职责说明</div>
    <div class="controls">
        {volunteerUser.txMfwcvolunteerResponsibilities}
    </div>
</div>
