<f:if condition="{configuration.insertAbove}">
	<f:render section="paginator" arguments="{pagination: pagination,configuration:configuration}" />
</f:if>

<f:renderChildren arguments="{contentArguments}" />

<f:if condition="{configuration.insertBelow}">
	<f:render section="paginator" arguments="{pagination: pagination,configuration:configuration}" />
</f:if>
<f:section name="paginator">
	<f:if condition="{pagination.numberOfPages} > 1">
		<div class="dtPagination">
            <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
            <f:if condition="{pagination.previousPage}">
                <f:if condition="{pagination.previousPage} > 1">
                    <f:then>
                        <f:widget.link class="fg-button ui-button ui-state-default" action="index" arguments="{currentPage: pagination.previousPage}">上一页</f:widget.link>
                    </f:then>
                    <f:else>
                        <f:widget.link class="fg-button ui-button ui-state-default" action="index" >上一页</f:widget.link>
                    </f:else>
                </f:if>
            </f:if>
            <span>
                <f:if condition="{pagination.displayRangeStart} > 1">
                    <f:widget.link class="fg-button ui-button ui-state-default" action="index" >1</f:widget.link>
                </f:if>
                <f:if condition="{pagination.hasLessPages}">
                    ...
                </f:if>
                
                <f:for each="{pagination.pages}" as="page">
                    <f:if condition="{page.isCurrent}">
                        <f:then>
                            <f:widget.link class="fg-button ui-button ui-state-default ui-state-disabled" action="index" >{page.number}</f:widget.link>
                        </f:then>
                        <f:else>
                            <f:if condition="{page.number} > 1">
                                <f:then>
                                    <f:widget.link class="fg-button ui-button ui-state-default" arguments="{currentPage: page.number}" action="index" >{page.number}</f:widget.link>
                                </f:then>
                                <f:else>
                                    <f:widget.link class="fg-button ui-button ui-state-default" action="index" >{page.number}</f:widget.link>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:for>
                
                <f:if condition="{pagination.hasMorePages}">
                    ...
                </f:if>
            </span>
            <f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
                <f:widget.link class="fg-button ui-button ui-state-default" arguments="{currentPage: pagination.numberOfPages}" action="index" >{pagination.numberOfPages}</f:widget.link>
            </f:if>
            <f:if condition="{pagination.nextPage}">
                <f:widget.link class="fg-button ui-button ui-state-default" arguments="{currentPage: pagination.nextPage}" action="index" >下一页</f:widget.link>
            </f:if>
           </div>
		</div>
	</f:if>
</f:section>