<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" class="alert alert-success alert-block"/> 
<div class="widget-box">
	<div class="widget-title">
		<span class="icon"><i class="icon-th"></i></span>
		<h5>志愿者列表</h5>
	</div>
	<div class="widget-content nopadding">
        <table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>省/市</th>
                    <th>部门</th>
                    <th>岗位</th>
                    <th>经验</th>
                    <th>状态</th>
                    <th></th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{volunteerUsers}" as="volunteerUser">
				<tr>
                    <td class="tc"><f:link.action controller="ManagerUser" action="volunteerShow" arguments="{volunteerUser : volunteerUser}"> {volunteerUser.txMfwcvolunteerId}</f:link.action></td>
                    <td class="tc"><f:link.action controller="ManagerUser" action="volunteerShow" arguments="{volunteerUser : volunteerUser}"> {volunteerUser.name}</f:link.action></td>
                    <td class="tc"><f:link.action controller="ManagerUser" action="volunteerShow" arguments="{volunteerUser : volunteerUser}"> {volunteerUser.zone.title} {volunteerUser.city.title}</f:link.action></td>
                    <td class="tc"><f:link.action controller="ManagerUser" action="volunteerShow" arguments="{volunteerUser : volunteerUser}"> {volunteerUser.txMfwcvolunteerDepartment.title}</f:link.action></td>
                    <td class="tc"><f:link.action controller="ManagerUser" action="volunteerShow" arguments="{volunteerUser : volunteerUser}"> {volunteerUser.txMfwcvolunteerJobs.title}</f:link.action></td>
                    <td class="tc"><f:link.action controller="ManagerUser" action="volunteerShow" arguments="{volunteerUser : volunteerUser}"> 
                        <f:if condition="{volunteerUser.txMfwcvolunteerExperience} == 1">
                            <f:then>有</f:then> <f:else>无</f:else>
                        </f:if> 
                    </f:link.action></td>
                    <td class="tc"><f:link.action controller="ManagerUser" action="volunteerShow" arguments="{volunteerUser : volunteerUser}">
                        <f:if condition="{volunteerUser.txMfwcvolunteerStatus} == 2">
                            <f:then>暂停工作</f:then> <f:else>
                                <f:if condition="{volunteerUser.txMfwcvolunteerStatus} == 1">
                                    <f:then>工作中</f:then> <f:else>申请中</f:else>
                                </f:if>
                            </f:else>
                        </f:if> 
                    </f:link.action></td>
                    <td class="tc">
                        <f:link.action controller="ManagerUser" action="volunteerShow" arguments="{volunteerUser : volunteerUser}">查看</f:link.action>
                        <f:link.action controller="ManagerUser" action="favoriteUpdate" arguments="{volunteerUser : volunteerUser}" onclick="javascript: return confirm('确认取消收藏?');">取消收藏</f:link.action> 
                    </td>
                </tr>
				</f:for>
			</tbody>
		</table>
	</div>
</div>
</f:section>
