{namespace p=TaoJiang\ExtbaseHelper\ViewHelpers}
<p:pageRenderer.addCssFile file="{f:uri.resource(path:'Css/style.css')}" />
<p:pageRenderer.addJsFooterFile file="{f:uri.resource(path:'DatePicker/WdatePicker.js')}" />
<p:pageRenderer.addJsFooterFile file="{f:uri.resource(path:'Javascript/jquery.validate.min.js')}" />
<p:pageRenderer.addJsFooterFile file="{f:uri.resource(path:'Javascript/messages_zh.js')}" />
<p:pageRenderer.addJsFooterFile file="{f:uri.resource(path:'Javascript/common.js')}" />
<div class="tx-mfwc-volunteer">
	<f:render section="main" />
</div>