<div class="control-group">
    <label class="control-label">部门名称*</label>
    <div class="controls">
        <f:form.textfield property="title" />
    </div>
</div>

<f:if condition="{department.manager -> f:count()} > 0">
    <f:then>
        <f:for each="{department.manager}" key="index" as="manager">
        <div class="control-group">
            <label class="control-label">管理员</label>
            <div class="controls">
                <f:form.select class="mr10" property="manager.{index}.managerUser" value="{manager.managerUser}" options="{managerUsers}" optionValueField="uid" optionLabelField="name" />
                <f:form.checkbox  property="manager.{index}.sendemail" checked="{manager.sendemail} == 1" value="1"/>(邮件通知)
                <a href="javascript:void(0);" class="remove ml50 btn btn-mini"><i class="icon-plus"></i> 删除</a>
            </div>
        </div>
        </f:for>
    </f:then>
    <f:else>
        <div class="control-group">
            <label class="control-label">管理员</label>
            <div class="controls">
                <f:form.select class="mr10" property="manager.0.managerUser" options="{managerUsers}" optionValueField="uid" optionLabelField="name" />
                <f:form.checkbox property="manager.0.sendemail" value="1"/>(邮件通知)
                <a href="javascript:void(0);" class="remove ml50 btn btn-mini"><i class="icon-plus"></i> 删除</a>
            </div>
        </div>
    </f:else>
</f:if>




<div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
        <a href="javascript:void(0);" class="addmore btn btn-mini"><i class="icon-plus"></i> 继续增加管理员</a>
    </div>
</div>

<script type="text/javascript">
(function($){
    var index_i = 1;
    var options = '';
    
    <f:for each="{managerUsers}" as="user">
        options += '<option value="{user.uid}">{user.name}</option>';
    </f:for>
   
    $(function(){
        /**
         * 添加 **/ controlGroupAdd();

        /**
         * 移除 **/ controlGroupRemove();
    });
    
    
    /**
     * 添加 **/
    function controlGroupAdd(){
        
        $('.addmore').unbind('click');
        $('.addmore').bind('click',function(){
        
            var content = '\
                <div class="control-group">\
                    <label class="control-label">管理员</label>\
                    <div class="controls">\
                        <select class="mr10" name="tx_mfwcvolunteer_volunteer[department][manager]['+index_i+'][managerUser]">\
                        '+options+'\
                        </select>\
                        <input type="checkbox" name="tx_mfwcvolunteer_volunteer[department][manager]['+index_i+'][sendemail]" value="1"/>(邮件通知)\
                        <a href="javascript:void(0);" class="remove ml50 btn btn-mini"><i class="icon-plus"></i> 删除</a>\
                    </div>\
                </div>\
            ';
            
            $(this).closest('.control-group').before(content);
            index_i += 1;
            
            /**
             * 移除 **/
            controlGroupRemove();
        });
    }
    
    /**
     * 移除 **/
    function controlGroupRemove(){
        $('.remove').unbind('click');
        $('.remove').bind('click',function(){
            $(this).closest('.control-group').remove();
        });
    }
})(jQuery);
</script>
