<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" class="alert alert-success alert-block"/>
<div class="widget-box">
	<div class="widget-title">
		<h5>志愿者信息查看</h5>
	</div>
	<div class="widget-content nopadding">
        <f:form action="auditUpdate" name="volunteerUser" object="{volunteerUser}" class="form-horizontal">
            
            <f:render partial="VolunteerUser/Properties" arguments="{volunteerUser:volunteerUser}" />
			
			<f:if condition="{department}">
				<f:if condition="{volunteerUser.txMfwcvolunteerStatus} == 1">
					<f:then></f:then>
					<f:else>
						<div class="control-group">
							<label class="control-label">工作岗位</label>
							<div class="controls">
								<f:form.select class="mr10" property="txMfwcvolunteerWorkjobs" options="{department.job}" optionValueField="uid" optionLabelField="title" />
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">邮件通知</label>
							<div class="controls">
								<f:form.checkbox name="sendmail" value="1"/>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">审核评定</label>
							<div class="controls">
								<f:form.textarea property="assessment" cols="40" rows="3" />
							</div>
						</div>
					</f:else>
				</f:if>
			</f:if>

            <div class="form-actions">
				<f:if condition="{department}">
				<f:if condition="{volunteerUser.txMfwcvolunteerStatus} == 1">
					<f:then></f:then>
					<f:else>
						<f:form.submit value="认证提交" class="btn btn-primary"/>
					</f:else>
					</f:if>
				</f:if>
				
                <f:link.action action="list" class="btn">返回列表</f:link.action>
            </div>
        </f:form>
    </div>
</div>
</f:section>