<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" class="alert alert-success alert-block"/> 
<f:link.action action="export"  arguments="{department:department}" class="btn btn-mini"><i class="icon-plus"></i> 导出部门志愿者</f:link.action>
<div class="widget-box">
	<div class="widget-title">
		<span class="icon"><i class="icon-th"></i></span>
		<h5>志愿者列表</h5>
	</div>
    <div class="dtFilter">
        <div class="dataTables_filter">
            <f:form action="list" method="GET">
                <input type="hidden" name="id" value="{pageUid}" />
                <f:form.hidden name="action" value="dVList" />
                <f:form.textfield name="keyword" value="{keyword}"  placeholder="编号/姓名/岗位"/>
                <f:form.submit value="搜索" class="btn"/>
            </f:form>
        </div>
    </div>
	<div class="widget-content nopadding">
        <f:widget.paginate objects="{volunteerUsers}" as="volunteerUsersPagination"  configuration="{settings.paginate}"> 
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
                    <th>编号</th>
					<th>用户名</th>
                    <th>姓名</th>
                    <th>省/市</th>
                    <th>岗位</th>
					<th>管理人</th>
                    <th>认证时间</th>
                    <th>工作时长</th>
					<th>工作评价</th>
                    <th></th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{volunteerUsersPagination}" as="volunteerUser">
				<tr>
                    <td class="tc"><f:link.action action="dVShow" arguments="{volunteerUser : volunteerUser}" target="_blank"> {volunteerUser.txMfwcvolunteerId}</f:link.action></td>
					<td class="tc"><f:link.action action="dVShow" arguments="{volunteerUser : volunteerUser}" target="_blank"> {volunteerUser.username}</f:link.action></td>
                    <td class="tc"><f:link.action action="dVShow" arguments="{volunteerUser : volunteerUser}" target="_blank"> {volunteerUser.name}</f:link.action></td>
                    <td class="tc"><f:link.action action="dVShow" arguments="{volunteerUser : volunteerUser}" target="_blank"> {volunteerUser.zone.title} {volunteerUser.city.title}</f:link.action></td>
                    <td class="tc"><f:link.action action="dVShow" arguments="{volunteerUser : volunteerUser}" target="_blank"> {volunteerUser.txMfwcvolunteerWorkjobskeep}</f:link.action></td>
					<td class="tc"><f:link.action action="dVShow" arguments="{volunteerUser : volunteerUser}" target="_blank"> {volunteerUser.txMfwcvolunteerVolunteermanager.name}</f:link.action></td>
					<td class="tc"><f:link.action action="dVShow" arguments="{volunteerUser : volunteerUser}" target="_blank"> {volunteerUser.txMfwcvolunteerAuthenticationTime->f:format.date(format: 'Y年m月d日')}</f:link.action></td>
                    <td class="tc"><f:link.action action="dVShow" arguments="{volunteerUser : volunteerUser}" target="_blank"> {volunteerUser.txMfwcvolunteerEvaluationLength}</f:link.action></td>
					<td class="tc"><f:link.action action="dVShow" arguments="{volunteerUser : volunteerUser}" target="_blank">
						<f:translate key="tx_mfwcvolunteer_domain_model_jobevaluation.evluation.I.{volunteerUser.txMfwcvolunteerEvaluationStatus}" />
					</f:link.action></td>
                    <td class="tc">
                        <f:link.action action="dVShow" arguments="{volunteerUser:volunteerUser}" target="_blank">查看</f:link.action>
                        <f:link.action action="stopWork" arguments="{volunteerUser:volunteerUser, returnUrl:returnUrl}" onclick="javascript: return confirm('确认暂停工作?');">暂停工作</f:link.action>
					</td>
                </tr>
				</f:for>
			</tbody>
		</table>
        </f:widget.paginate>
	</div>
</div>
</f:section>
