<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" class="alert alert-success alert-block"/>
<div class="widget-box">
	<div class="widget-title">
		<h5>志愿者信息查看</h5>
	</div>
	<div class="widget-content nopadding">
		<f:form action="auditUpdate" name="volunteerUser" arguments="{returnAction:'dVList'}" object="{volunteerUser}" class="form-horizontal">
            <f:render partial="VolunteerUser/Properties" arguments="{volunteerUser:volunteerUser}" />
			
			<div class="control-group">
				<div class="control-label">管理员</div>
				<div class="controls">
					{volunteerUser.txMfwcvolunteerVolunteermanager.name}
				</div>
			</div>
			
			<f:if condition="{volunteerUser.txMfwcvolunteerVolunteermanager} == {manager}">
				<f:then>
					<f:if condition="{department}">
						<div class="control-group">
							<label class="control-label">工作岗位</label>
							<div class="controls">
								<f:form.select class="mr10" property="txMfwcvolunteerWorkjobs" options="{department.job}" optionValueField="uid" optionLabelField="title" />
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">邮件通知</label>
							<div class="controls">
								<f:form.checkbox name="sendmail" value="1"/>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">审核评定</label>
							<div class="controls">
								<f:form.textarea property="assessment" cols="40" rows="3" />
							</div>
						</div>
					</f:if>
				</f:then>
				<f:else>
					<div class="control-group">
						<div class="control-label">工作岗位</div>
						<div class="controls">
							{volunteerUser.txMfwcvolunteerWorkjobskeep}
						</div>
					</div>
					
					<div class="control-group">
						<div class="control-label">审核评定</div>
						<div class="controls">
							{volunteerUser.assessment}
						</div>
					</div>
				</f:else>
			</f:if>

            <div class="form-actions">
				<f:if condition="{volunteerUser.txMfwcvolunteerVolunteermanager} == {manager}">
					<f:if condition="{department}">
						<f:form.submit value="认证提交" class="btn btn-primary"/>
					</f:if>
				</f:if>
                <f:link.action action="dVList" class="btn">返回列表</f:link.action>
            </div>
        </f:form>
    </div>
</div>
</f:section>