<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" class="alert alert-success alert-block"/>
<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="icon-th-list"></i>
        </span>
        <h5>志愿者 {volunteerUser.name} 工作记录</h5>
    </div>
    <div class="widget-content">
        <div class="invoice-content">
			<div class="invoice-head">
				<div class="invoice-meta">
					<div class="description">编号：{volunteerUser.txMfwcvolunteerId} &nbsp;&nbsp;&nbsp;&nbsp; 姓名：{volunteerUser.name} &nbsp;&nbsp;&nbsp;&nbsp; 岗位：{volunteerUser.txMfwcvolunteerJobskeep}</div>
					<span class="invoice-date">
						自{volunteerUser.txMfwcvolunteerAuthenticationTime->f:format.date(format: 'Y年m月d日')}起到今天，总共服务了{volunteerUser.txMfwcvolunteerEvaluationLength}小时。 
                        <f:if condition="{volunteerUser.uid} != {userId}">
                            结论：<f:translate key="tx_mfwcvolunteer_domain_model_jobevaluation.evluation.I.{volunteerUser.txMfwcvolunteerEvaluationStatus}" />
                        </f:if>
                    </span>
				</div>
			</div>
			<div>
				<table class="table table-striped">
					<f:for each="{volunteerUser.txMfwcvolunteerEvaluation}" as="evaluation">
					<tr>
						<td class="w150">
							{evaluation.fromtime->f:format.date(format: 'Y年m月d日')}
						</td>
						<td class="w300">
							{evaluation.jobkeep} 
							{evaluation.length}小时，
                            <f:if condition="{volunteerUser.uid} != {userId}">
                                <f:translate key="tx_mfwcvolunteer_domain_model_jobevaluation.evluation.I.{evaluation.evluation}" />，
                            </f:if>
							记录人 {evaluation.recorder.name}
						</td>
						<td>
						{evaluation.description}
						</td>
						<td>
							<f:if condition="{evaluation.recorder.uid} == {userId}">
								<f:link.action action="edit" arguments="{jobEvaluation : evaluation, volunteerUser : volunteerUser}" class="btn btn-mini">编辑</f:link.action>
								<f:link.action action="delete" arguments="{jobEvaluation : evaluation, volunteerUser : volunteerUser}" class="btn btn-mini">删除</f:link.action>
							</f:if>
						</td>
					</tr>
					</f:for>
				</table>
			</div>
		</div>
    </div>  
</div>
</f:section>