<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" class="alert alert-success alert-block"/> 
<f:link.action action="export" class="btn btn-mini"><i class="icon-plus"></i> 导出所有志愿者</f:link.action>
<div class="widget-box">
	<div class="widget-title">
		<span class="icon"><i class="icon-th"></i></span>
		<h5>志愿者列表</h5>
	</div>
    <div class="dtFilter">
        <div class="dataTables_filter">
            <f:form action="list" method="GET">
                <input type="hidden" name="id" value="{pageUid}" />
                <f:form.hidden name="action" value="list" />
                <f:form.textfield name="keyword" value="{keyword}"  placeholder="编号/姓名/部门/岗位"/>
                <f:form.submit value="搜索" class="btn"/>
            </f:form>
        </div>
    </div>
	<div class="widget-content nopadding">
        <f:widget.paginate objects="{volunteerUsers}" as="volunteerUsersPagination"  configuration="{settings.paginate}"> 
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>省/市</th>
                    <th>申请岗位</th>
                    <th>任职岗位</th>
                    <th>经验</th>
                    <th>状态</th>
                    <th></th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{volunteerUsersPagination}" as="volunteerUser">
				<tr>
                    <td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}" target="_blank"> {volunteerUser.txMfwcvolunteerId}</f:link.action></td>
                    <td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}" target="_blank"> {volunteerUser.name}</f:link.action></td>
                    <td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}" target="_blank"> {volunteerUser.zone.title} {volunteerUser.city.title}</f:link.action></td>
                    <td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}" target="_blank"> {volunteerUser.txMfwcvolunteerJobskeep}</f:link.action></td>
                    <td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}" target="_blank"> {volunteerUser.txMfwcvolunteerWorkjobskeep}</f:link.action></td>
                    <td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}" target="_blank"> 
                        <f:if condition="{volunteerUser.txMfwcvolunteerExperience} == 1">
                            <f:then>有</f:then> <f:else>无</f:else>
                        </f:if> 
                    </f:link.action></td>
                    <td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}">
						<f:translate key="tx_mfwcvolunteer_domain_model_volunteeruser.tx_mfwcvolunteer_status.I.{volunteerUser.txMfwcvolunteerStatus}" />
                    </f:link.action></td>
                    <td class="tc">
                        <f:link.action action="show" arguments="{volunteerUser : volunteerUser}" target="_blank">查看</f:link.action>
						
					<f:if condition="{volunteerUser.txMfwcvolunteerStatus} == 1">
						<f:then></f:then>
						<f:else>
							<f:link.action action="audit" arguments="{volunteerUser : volunteerUser}">审核</f:link.action>
						</f:else>
					</f:if>
                    </td>
                </tr>
				</f:for>
			</tbody>
		</table>
        </f:widget.paginate>
	</div>
</div>
</f:section>
