<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" class="alert alert-success alert-block"/>
<div class="widget-box">
	<div class="widget-title">
		<h5>志愿者信息查看</h5>
	</div>
	<div class="widget-content nopadding">
        <div class="form-horizontal">
            <f:render partial="VolunteerUser/Properties" arguments="{volunteerUser:volunteerUser}" />
			<div class="control-group">
				<div class="control-label">工作岗位</div>
				<div class="controls">
					{volunteerUser.txMfwcvolunteerWorkjobskeep}
				</div>
			</div>

			<div class="control-group">
				<div class="control-label">管理员</div>
				<div class="controls">
					{volunteerUser.txMfwcvolunteerVolunteermanager.name}
				</div>
			</div>
			
			<div class="control-group">
				<div class="control-label">审核评定</div>
				<div class="controls">
					{volunteerUser.assessment}
				</div>
			</div>
			
            <div class="form-actions">
                <f:link.action action="list" class="btn">返回列表</f:link.action>
            </div>
        </div>
    </div>
</div>
</f:section>