<f:layout name="Edit" />
<f:section name="main">

<f:flashMessages renderMode="div" class="alert alert-success alert-block"/>
<div class="widget-box">
	<div class="widget-title">
		<h5>编辑部门信息</h5>
	</div>
	<div class="widget-content nopadding">
        <f:render partial="FormErrors" arguments="{object:Department}" />
        <f:form id="department_validate" action="update"  name="department" object="{department}" class="form-horizontal">
            <f:render partial="Department/FormFields" arguments="{_all}"/>
            <div class="form-actions">
                <f:form.submit value="更新" class="btn btn-primary"/>
                <f:link.action action="list" class="btn">返回</f:link.action>
            </div>
        </f:form>
    </div>
</div>


<br />
<f:link.action controller="Job" action="new" arguments="{department : department}" class="btn btn-mini"><i class="icon-plus"></i> 添加职位</f:link.action>
<f:if condition="{department.job -> f:count()} > 0">
<div class="widget-box">
	<div class="widget-title">
		<span class="icon"><i class="icon-th"></i></span>
		<h5>岗位列表</h5>
	</div>
	<div class="widget-content nopadding">
       
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
                    <th>岗位名称</th>
                    <th>岗位级别</th>
                    <th>岗位类型</th>
                    <th>上级主管</th>
                    <th></th>
				</tr>
			</thead>
			<tbody>
                <f:for each="{department.job}" as="job">
				<tr>
					<td><f:link.action controller="Job" action="edit" arguments="{job : job, department : department}"> {job.title}</f:link.action></td>
                    
                    <td><f:link.action controller="Job" action="edit" arguments="{job : job, department : department}"> 
                        <f:if condition="{job.level} == 1">
                            <f:then>员工岗</f:then> <f:else>管理岗</f:else>
                        </f:if>  
                    </f:link.action></td>
                    
                    <td><f:link.action controller="Job" action="edit" arguments="{job : job, department : department}">
                    <f:if condition="{job.type} == 2">
                        <f:then>C 业务类</f:then> <f:else>
                            <f:if condition="{job.type} == 1">
                                <f:then>B 支持类</f:then> <f:else>A 职能类</f:else>
                            </f:if> 
                        </f:else>
                    </f:if> 
                    </f:link.action></td>
                    
                    <td><f:link.action controller="Job" action="edit" arguments="{job : job, department : department}"> {job.competent.title}</f:link.action></td>
                    <td class="tc">
                        <f:link.action controller="Job" action="edit" arguments="{job : job, department : department}">编辑</f:link.action>
                        <f:link.action controller="Job" action="delete" arguments="{job : job, department : department}" onclick="javascript: return confirm('确认删除?');">删除</f:link.action>
                    </td>
				</tr>
				</f:for>
			</tbody>
		</table>
	</div>
</div>
</f:if>

</f:section>