<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" class="alert alert-success alert-block"/> 
<f:link.action action="new" class="btn btn-mini"><i class="icon-plus"></i> 创建部门</f:link.action>
<f:link.action controller="Job" action="new" class="btn btn-mini"><i class="icon-plus"></i> 添加职位</f:link.action>
<f:link.action controller="Competent" action="list" class="btn btn-mini"><i class="icon-plus"></i> 添加主管</f:link.action>
<div class="widget-box">
	<div class="widget-title">
		<span class="icon"><i class="icon-th"></i></span>
		<h5>部门列表</h5>
	</div>
	<div class="widget-content nopadding">
        <f:widget.paginate objects="{departments}" as="departmentPagination"  configuration="{settings.paginate}"> 
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
                    <th>部门名称</th>
                    <th></th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{departmentPagination}" as="department">
				<tr>
					<td class="tc"><f:link.action action="edit" arguments="{department : department}"> {department.title}</f:link.action></td>
                    <td class="tc">
                        <f:link.action action="edit" arguments="{department : department}">编辑</f:link.action>
                        <f:link.action action="delete" arguments="{department : department}" onclick="javascript: return confirm('确认删除?');">删除</f:link.action>
                    </td>
				</tr>
				</f:for>
			</tbody>
		</table>
        </f:widget.paginate>
	</div>
</div>

</f:section>