<f:layout name="Edit" />
<f:section name="main">

<f:flashMessages renderMode="div" class="alert alert-success alert-block"/>
<div class="widget-box">
	<div class="widget-title">
		<h5>添加新部门</h5>
	</div>
	<div class="widget-content nopadding">
        <f:render partial="FormErrors" arguments="{object:Department}" />
        <f:form id="department_validate" action="create"  name="department" object="{department}" class="form-horizontal">
            <f:render partial="Department/FormFields" arguments="{_all}"/>
            <div class="form-actions">
                <f:form.submit value="添加" class="btn btn-primary"/>
                <f:link.action action="list" class="btn">返回</f:link.action>
            </div>
        </f:form>
    </div>
</div>

</f:section>