.tx-mfwc-volunteer .ps80{width:80% !important;}
.tx-mfwc-volunteer .ps95{width:95% !important;}
.tx-mfwc-volunteer .tr{text-align:right;}
.tx-mfwc-volunteer .tl{text-align:left;}
.tx-mfwc-volunteer .mt10{margin-top:10px;}
.tx-mfwc-volunteer .mb10{margin-bottom:10px;}
.tx-mfwc-volunteer .ml10{margin-left:10px;}
.tx-mfwc-volunteer .mr10{margin-right:10px;}
.tx-mfwc-volunteer .ml50{margin-left:50px;}
.tx-mfwc-volunteer .w50{width:50px;}
.tx-mfwc-volunteer .w100{width:100px;}
.tx-mfwc-volunteer .w150{width:150px;}
.tx-mfwc-volunteer .w200{width:200px;}
.tx-mfwc-volunteer .w240{width:240px;}
.tx-mfwc-volunteer .w300{width:300px;}
.tx-mfwc-volunteer .w400{width:400px;}
.tx-mfwc-volunteer .current{color:red;}
.tx-mfwc-volunteer .likespan{display:inline; float:none;}

.tx-mfwc-volunteer input.w50{width:50px; width:50px !important;}
.tx-mfwc-volunteer input.w100{width:100px; width:100px !important;}
.tx-mfwc-volunteer input.w150{width:150px; width:150px !important;}
.tx-mfwc-volunteer input.w200{width:200px; width:200px !important;}

.tx-mfwc-volunteer .grade .alert{margin-bottom:5px;}
.tx-mfwc-volunteer table td{line-height:30px;}
.tx-mfwc-volunteer table td a{color:#333;}
.tx-mfwc-volunteer table th.w_title{width:333px;}
.tx-mfwc-volunteer table tr.type_1 td a{color:#333;}
.tx-mfwc-volunteer table tr.type_2 td a{color:#f49314;}
.tx-mfwc-volunteer table tr.type_3 td a{color:#20790f;}
.tx-mfwc-volunteer table tr.type_4 td a{color:#f63535;}
.tx-mfwc-volunteer table tr.type_5 td a{color:#3aa39f;}
.tx-mfwc-volunteer input{margin-bottom:0;}
.tx-mfwc-volunteer input.btn {height:30px;}

.tx-mfwc-volunteer  .groupschool{min-height:200px;}
.error{color:red;}
input.error{border-color:red;}

#loading{display:none; position:absolute; width:100%; height:100%; left:0; top:0; background:#fcfcfc; z-index:998;}
#loading-content{z-index:999; position:absolute; left:43%;top:43%; background:url("../images/loading.gif") no-repeat scroll 14px 10px #000000; width:159px;color:#fff;font-size:18px;height:40px;font-weight:300; padding-top:14px;}
 


