<f:layout name="Edit" />
<f:section name="main">
<f:flashMessages renderMode="div" class="alert alert-success alert-block"/>
<f:render partial="FormErrors" arguments="{object:JobEvaluation}" />
<div class="widget-box">
	<div class="widget-title">
		<h5>添加记录与评价</h5>
	</div>
	<div class="widget-content nopadding">
		<f:form id="jobEvaluation_validation" action="create"  name="jobEvaluation" object="{jobEvaluation}" arguments="{innew:'1'}" class="form-horizontal">
            <f:render partial="JobEvaluation/FormFields" arguments="{_all}"/>
            <div class="form-actions">
                <f:form.submit value="添加" class="btn btn-primary"/>
                <f:link.action action="show" arguments="{volunteerUser:volunteerUser}" class="btn">返回</f:link.action>
            </div>
        </f:form>
    </div>
</div>

</f:section>