<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" class="alert alert-success alert-block"/> 
<f:link.action action="new" class="btn btn-mini"><i class="icon-plus"></i> 添加记录与评价</f:link.action>
<f:link.action action="export" class="btn btn-mini"><i class="icon-plus"></i> 导出记录与评价</f:link.action>
<div class="widget-box">
	<div class="widget-title">
		<span class="icon"><i class="icon-th"></i></span>
		<h5>志愿者列表</h5>
	</div>
    <div class="dtFilter">
        <div class="dataTables_filter">
            <f:form action="list">
                <f:form.textfield name="keyword" value="{keyword}"  placeholder="编号/姓名/部门/岗位"/>
                <f:form.submit value="搜索" class="btn"/>
            </f:form>
        </div>
    </div>
	<div class="widget-content nopadding">
        <f:widget.paginate objects="{volunteerUsers}" as="volunteerUsersPagination"  configuration="{settings.paginate}"> 
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>省/市</th>
                    <th>部门岗位</th>
                    <th>工作时长</th>
					<th>工作评价</th>
                    <th>认证时间</th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{volunteerUsersPagination}" as="volunteerUser">
				<tr>
                    <td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}"> {volunteerUser.txMfwcvolunteerId}</f:link.action></td>
                    <td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}"> {volunteerUser.name}</f:link.action></td>
                    <td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}"> {volunteerUser.zone.title} {volunteerUser.city.title}</f:link.action></td>
                    <td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}"> {volunteerUser.txMfwcvolunteerWorkjobskeep}</f:link.action></td>
                    <td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}">{volunteerUser.txMfwcvolunteerEvaluationLength}</f:link.action></td>
					<td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}"><f:translate key="tx_mfwcvolunteer_domain_model_jobevaluation.evluation.I.{volunteerUser.txMfwcvolunteerEvaluationStatus}" /></f:link.action></td>
					<td class="tc"><f:link.action action="show" arguments="{volunteerUser : volunteerUser}"> {volunteerUser.txMfwcvolunteerAuthenticationTime->f:format.date(format: 'Y年m月d日')}</f:link.action></td>
                </tr>
				</f:for>
			</tbody>
		</table>
        </f:widget.paginate>
	</div>
</div>
</f:section>
