<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" class="alert alert-success alert-block"/>
<f:link.action controller="JobEvaluation" action="innew" arguments="{volunteerUser : volunteerUser}" class="btn btn-mini"><i class="icon-plus"></i> 添加记录与评价</f:link.action>
<f:link.action controller="JobEvaluation" action="certify" arguments="{volunteerUser : volunteerUser}" class="btn btn-mini"><i class="icon-user"></i> 生成证书</f:link.action>
<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="icon-th-list"></i>
        </span>
        <h5>志愿者 {volunteerUser.name} 工作记录</h5>
        <div class="buttons">
        </div>
    </div>
    <div class="widget-content">
        <f:render partial="JobEvaluation/Properties" arguments="{_all}"/>
        <div class="form-actions">
            <f:link.action action="list" class="btn">返回列表</f:link.action>
        </div>
    </div>  
</div>
</f:section>