<f:layout name="Edit" />
<f:section name="main">

<div class="widget-box">
	<div class="widget-title">
		<h5>编辑岗位</h5>
	</div>
	<div class="widget-content nopadding">
        <f:flashMessages renderMode="div" class="alert alert-success alert-block"/>
        <f:render partial="FormErrors" arguments="{object:Job}" />
        <f:form id="job_validate" action="update"  name="job" object="{job}" arguments="{department:department}" class="form-horizontal">
            <f:render partial="Job/FormFields" arguments="{_all}"/>
            <div class="form-actions">
                <f:form.submit value="更新" class="btn btn-primary"/>
                <f:link.action controller="Department" action="edit" arguments="{department:department}" class="btn">返回</f:link.action>
            </div>
        </f:form>
    </div>
</div>

</f:section>
