<f:layout name="Edit" />
<f:section name="main">

<div class="widget-box">
	<div class="widget-title">
		<h5>添加新岗位</h5>
	</div>
	<div class="widget-content nopadding">
        <f:flashMessages renderMode="div" class="alert alert-success alert-block"/>
        <f:render partial="FormErrors" arguments="{object:Job}" />
        <f:form id="job_validate" action="create"  name="job" object="{job}" arguments="{department:department}" class="form-horizontal">
            <f:render partial="Job/FormFields" arguments="{_all}"/>
            <div class="form-actions">
                <f:form.submit value="添加" class="btn btn-primary"/>
                
                <f:if condition="{department}">
                    <f:then>
                        <f:link.action controller="Department" action="edit" arguments="{department:department}" class="btn">返回</f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action controller="Department" action="list" class="btn">返回</f:link.action>
                    </f:else>
                </f:if>
            </div>
        </f:form>
    </div>
</div>

</f:section>
