<f:layout name="Default" />
<f:section name="main">

<f:flashMessages renderMode="div" class="alert alert-success alert-block"/>
<div class="widget-box">
	<div class="widget-title">
		<h5>编辑上级主管</h5>
	</div>
	<div class="widget-content nopadding">
        <f:render partial="FormErrors" arguments="{object:Competent}" />
        <f:form action="update"  name="competent" object="{competent}" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">名称</label>
                <div class="controls">
                    <f:form.textfield property="title" />
                </div>
            </div>
            <div class="form-actions">
                <f:form.submit value="更新" class="btn btn-primary"/>
                <f:link.action action="list" class="btn">返回</f:link.action>
            </div>
        </f:form>
    </div>
</div>
</f:section>