<f:layout name="Default" />
<f:section name="main">
<f:flashMessages renderMode="div" class="alert alert-success alert-block"/> 
<f:link.action action="new" class="btn btn-mini"><i class="icon-plus"></i> 添加上级主管</f:link.action>
<f:link.action controller="Department" action="list" class="btn btn-mini"><i class="icon-share-alt"></i> 返回部门</f:link.action>
<div class="widget-box">
	<div class="widget-title">
		<span class="icon"><i class="icon-th"></i></span>
		<h5>上级主管列表</h5>
	</div>
	<div class="widget-content nopadding">
        <f:widget.paginate objects="{competents}" as="competentsPagination"  configuration="{settings.paginate}"> 
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
                    <th>上级主管</th>
                    <th></th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{competentsPagination}" as="competent">
				<tr>
					<td class="tc"><f:link.action action="edit" arguments="{competent : competent}"> {competent.title}</f:link.action></td>
                    <td class="tc">
                        <f:link.action action="edit" arguments="{competent : competent}">编辑</f:link.action>
                        <f:link.action action="delete" arguments="{competent : competent}" onclick="javascript: return confirm('确认删除?');">删除</f:link.action>
                    </td>
				</tr>
				</f:for>
			</tbody>
		</table>
        </f:widget.paginate>
	</div>
</div>

</f:section>